{% extends "base.html" %}

{% block title %}Profiel{% endblock %}

{% block content %}
<div class="container">
  <br>
  <h1 align="center">Profiel</h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Huidige gegevens</h3>
      <p><strong>E-mailadres:</strong> {{ user.email }}</p>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <h3>Account verwijderen</h3>
    <form method="POST" action="{{ url_for('views.delete_account') }}">
      <p>Weet je zeker dat je je account wilt verwijderen?</p>
      <button type="submit" class="btn btn-danger">Verwijder Account</button>
    </form>
  </div>
</div>
{% endblock %}
